@charset "utf-8";

@import "~bulma/sass/utilities/initial-variables.sass";
@import "~bulma/sass/utilities/derived-variables.sass";

@media print {
    header {
        display: none !important;
    }
}

.navbar {
    &.is-transparent {
        background-color: transparent;
        background-image: none;
    }
}

.RecordTable.table-container {
    max-height: 600px;
    overflow-y: auto !important;
}

.RecordTable th {
    white-space: nowrap;
}

.RecordTable td {
    vertical-align: middle !important;
}

.RecordsViewer {
    display: block !important;
    direction: rtl;
}

.RecordsViewerItem {
    display: inline-block !important;
    direction: ltr;
    vertical-align: top;
    text-align: left;
    writing-mode: vertical-rl;
    font-family: "游明朝";
    font-weight: bold;
    font-size: large;
}

@import "~bulma/bulma.sass";
@import "@cityssm/bulma-sticky-table/sticky-table";
